<!-- The Drop Down Arrow -->
<div class="row">
  <div class="col d-flex align-items-center">
    <label class="label-style mb-0">Filter</label>
    <div class="collapsible-arrow arrow-down ml-2"
         (click)="toggleCollapsible()"
         [class.arrow-down]="isCollapsed"
         [class.arrow-up]="!isCollapsed">
      <span>&#9660;</span> <!-- Unicode down arrow character -->
    </div>
  </div>
</div>

<!-- The Drop Down Filter Fields -->
<div [class.collapsedContent]="isCollapsed" [class.expandedContent]="!isCollapsed">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="label-style">Description:</label>
        <input [(ngModel)]="filterByDescription" placeholder="Search by description" class="form-control search-input">
      </div>
      <div class="col-md-4">
        <label class="label-style">Name:</label>
        <input [(ngModel)]="filterByName" placeholder="Search by name" class="form-control search-input">
      </div>
      <div class="col-md-4">
        <label class="label-style">Tags:</label>
        <input [(ngModel)]="filterByTags" placeholder="Search by tags" class="form-control search-input">
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <button (click)="doSearch()" class="search-button">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  @for (image of images; track image.id){
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="display-container">
        <div [routerLink]="'view/' + image.id" class="image-title-label">
          {{ image.name }}
        </div>

        <div class="image-container">
          <img [routerLink]="'view/' + image.id" [src]="this.imageUtils.base64ToSafeUrl(image.imageData, 'image/jpeg')" alt="gallery image">
        </div>
        <div class="label-style">
          @for (tag of image.hashtags; track tag.id){
            <span (click)="print('tag presses: ' + tag.name)">#{{ tag.name }} </span>
          }
        </div>
      </div>

    </div>
  }
</div>

<div class ="row">
  <div class="col-auto align-self-center">
    <button id="previousButton"
            (click) ="goToPreviousPage()"
            [class.button-style]="canGoToPreviousPage"
            [class.disabled-button-style]="!canGoToPreviousPage">←</button>
    <label>|  {{ this.page + 1 }} / {{ this.lastPage + 1 }}  |</label>
    <button id="nextButton"
            (click) ="goToNextPage()"
            [class.button-style]="canGoToNextPage"
            [class.disabled-button-style]="!canGoToNextPage">→</button>
  </div>
  <div class="col">
    <!-- Empty column to fill space -->
  </div>
</div>

