<app-menu></app-menu>
<p>Hello, World! {{ username }} </p>
<!-- Example usage of Bootstrap classes -->
<div class="container">
  <h1>Welcome to My Angular App</h1>
  <button class="btn btn-primary">Click Me</button>
</div>
<div class="container">
  <h1>Welcome to My Angular App</h1>

  <div class="row">
    <div class="col-md-6">
      <!-- Content for the first column (medium size) -->
      <p>This is column 1</p>
    </div>
    <div class="col-md-6">
      <!-- Content for the second column (medium size) -->
      <p>This is column 2</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <!-- Content for the first column (large size) -->
      <p>This is column 1</p>
    </div>
    <div class="col-lg-4">
      <!-- Content for the second column (large size) -->
      <p>This is column 2</p>
    </div>
    <div class="col-lg-4">
      <!-- Content for the third column (large size) -->
      <p>This is column 3</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

