<p>upload works!</p>

<div class="file-upload">
  <input
    #imageInput type="file"
    accept="image/*"
    (change)="processFile(imageInput)"
    class="button-style">
</div>
<div class="input">
  <label class="label-style">The Description:</label>
  <input type="text" [(ngModel)]="description"
         placeholder="Enter picture description..."
         maxlength="500" class="textbox-style">
</div>
<div class="input">
  <label class="label-style">The Title:</label>
  <input type="text" [(ngModel)]="title"
         placeholder="Enter picture title..."
         maxlength="100" class="textbox-style">
</div>
<div class="input">
  <label class="label-style">The Tags:</label>
  <input type="text" [(ngModel)]="tagsString"
         placeholder="Enter picture tags..."
         maxlength="100" class="textbox-style">
  <button (click)="CommitTags()" class="button-style">⤥ commit tags</button>
  <div class="image-container">
    @for(tag of tags; track tag.id){
      <span class="formatted-tags">#{{ tag.name }} </span>
    }
  </div>
</div>
<button (click)="Upload()" class="button-style">⇈ upload</button>
<button (click)="Cancel()" class="button-style">✕ cancel</button>

@if(imageUrl){
  <div class="image-container">
    <img [src]="imageUrl" alt="Image" class="img-fluid">
  </div>
}
